id,name,model_id:id,group_id:id,perm_read,perm_write,perm_create,perm_unlink
{%- for access in access_rights %}
access_{{ access.model.replace('.', '_') }}_{{ access.group.replace('.', '_') }},{{ access.model }},model_{{ access.model.replace('.', '_') }},{{ access.group }},{{ 1 if access.perm_read else 0 }},{{ 1 if access.perm_write else 0 }},{{ 1 if access.perm_create else 0 }},{{ 1 if access.perm_unlink else 0 }}
{%- endfor %}
