services:
  backend:
    ports:
      - "8000:8000"
    environment:
      - LOG_LEVEL=WARNING

  control_deck:
    ports:
      - "3000:3000"

  axe_ui:
    ports:
      - "3001:3000"

  postgres:
    ports:
      - "5432:5432"

  redis:
    ports:
      - "6379:6379"
