services:
  backend:
    ports:
      - "8001:8000"
    environment:
      - LOG_LEVEL=DEBUG

  control_deck:
    ports:
      - "3001:3000"

  axe_ui:
    ports:
      - "3002:3000"

  postgres:
    ports:
      - "5433:5432"

  redis:
    ports:
      - "6380:6379"