
services:
  backend:
    container_name: brain-backend
    env_file:
      - .env.prod
    environment:
      LOG_LEVEL: INFO
      PYTHONPATH: /app
    command: uvicorn backend.main:app --host 0.0.0.0 --port 8000
    volumes:
      - ./logs:/app/logs
    ports:
      - "127.0.0.1:8000:8000"
