services:
  backend:
    ports:
      - "8002:8000"
    environment:
      - LOG_LEVEL=INFO

  control_deck:
    ports:
      - "3003:3000"

  axe_ui:
    ports:
      - "3004:3000"

  postgres:
    ports:
      - "5434:5432"

  redis:
    ports:
      - "6381:6379"
