@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617; /* slate-950 */
  --foreground: #e5e7eb; /* slate-200 */
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50;
}

* {
  box-sizing: border-box;
}