name: Docker Build Test

on:
  push:
    branches: ["dev"]
  workflow_dispatch:

jobs:
  docker-build:
    name: Build backend & frontend images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build backend image
        run: |
          docker build \
            -t brain-backend-test \
            -f backend/Dockerfile \
            backend

      - name: Build frontend image
        run: |
          docker build \
            -t brain-frontend-test \
            -f frontend/brain_control_ui/Dockerfile \
            frontend/brain_control_ui
      - name: List Docker images
        run: docker images
      - name: Remove Docker images
        run: |
          docker rmi brain-backend-test brain-frontend-test || true 
          docker image prune -f 
